<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      html {
        scroll-behavior: smooth;
      }
    </style>
    <title>Document</title>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>
    <h1 class="d-flex justify-content-center pt-2">Books List</h1>
    <!-- Search bar -->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button id="search-button" class="btn btn-outline-secondary" type="button" onClick="search()">Search Books</button>
      </div>
      <input type="text" id="search-book" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
    </div>
    <!-- 'TIP' notice -->
    <div>
      <p><b>TIP:</b> Search for "American Dreams" (Case-sensitive)</p>
    </div>
    <!-- Repeating card -->
    <div class="container pt-5">
        <div class="row d-flex justify-content-center">
          <% bookList.forEach(book => { %>
          <div class="card" style="width: 18rem">
            <div class="card-body">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                <label class="form-check-label" for="invalidCheck2">
                  Tick to book
                </label>
              </div>
              <div id="<%= book.title %>"></div>
                <h5 class="card-title"><%= book.title %></h5>
                <h6 class="card-subtitle mb-2 text-muted">ISBN: <%= book.isbn13 %></h6>
                <p class="card-text text-break"></p>
                <h6 class="card-subtitle mb-2 text-muted">Author: <%= book.author %></h6>
                <button type="button" class="btn btn-primary btn-sm">More info</button>
                <button type="button" class="btn btn-primary btn-sm">Author</button>
              
            </div>
          </div>
          <%})%>
        </div>
      </div>
  </body>
  <%- include('../partials/footer'); %></footer>
</html>

<script>
  // Searches for book that user chooses
  function search() {
    const text = document.getElementById("search-book").value;
    console.log("User text: " + text);
    window.location.href = "#" + text
  }
</script>
